# Flutter / Dart
.dart_tool/
.packages
.flutter-plugins
.flutter-plugins-dependencies
build/

# Android
android/.gradle/
android/app/build/
android/local.properties
android/key.properties
android/.idea/
android/*.iml
android/app/*.iml
*.keystore
*.jks

# IDE & OS files
.idea/
.vscode/
*.iml
.DS_Store
Thumbs.db
*.log

